@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

*{
  margin: 0;
  padding: 0;
}

/* ------------ Navbar  ---------------------- */
.app_navbar {
  position: fixed;
  top: 0;
}

.app_navbar_dropdown {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ------------ Header  ---------------------- */
.home_background_video_container {
  width: 100%;
  height: 100vh;
}

.home_background_video_container video {
  width: 100%;
  height: calc(100% - 70px);
  object-fit: cover;
  position: absolute;
  top: 70px;
}

.home_background_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  color: white;
  /* padding-left: 5rem; */
}

/* ------------ Work CSS  ---------------------- */
.component-container {
  background-image: url("./assets/img/Our_Mission.png");
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  background: rgba(3, 3, 3, 0.747); /* Add a semi-transparent overlay */
  padding: 20px;
  width: 80%;
  text-align: center;
  color: white;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .component-container .content{
    width: 95%;
    text-align: left;
  }
}
/* ------------ Header  ---------------------- */
.header_slider {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* ------------ Courses Banner Image  ---------------------- */
.bg_Multi_Cloud_Banner {
  background-image: url("./assets/img/Multi_Cloud_Banner.png");
  opacity: 1;
  height: 100vh;
  width: 100%;
}

.bg_Multi_Cloud_Networking {
  background-image: url("./assets/img/Networking_Banner.png");
  opacity: 1;
  height: 100vh;
  width: 100%;
}

.bg_Multi_Cloud_Security {
  background-image: url("./assets/img/Cloud_Security_Banner.png");
  opacity: 1;
  height: 100vh;
  width: 100%;
}

.bg_Python_Generative_AI {
  background-image: url("./assets/img/Generative_AI_Banner.png");
  opacity: 1;
  height: 100vh;
  width: 100%;
}

.bg_PythonML {
  background-image: url("./assets/img/Python_AI_Banner.png");
  opacity: 1;
  height: 100vh;
  width: 100%;
}

/* ------------ AboutUs Page CSS  ---------------------- */
.AboutUs_Image_Container {
  background-image: url("./assets/img/AboutBanner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  object-fit: cover;
}

.AboutUs_Content {
  background: radial-gradient(
    266.57% 50% at 50% 0%,
    rgba(47, 101, 0, 0.38) 0%,
    rgba(0, 0, 0, 0.534) 100%
  );
  backdrop-filter: blur(10px);
  color: white;
}

.home_page .header_slider .header_text h3 {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
}

.boxed-btn3 {
  display: inline-block;
}

.about_area::before {
  content: "";
  background-image: url("../src/assets/img/Our_Mission.png");
  left: 0;
  top: 70px;
  height: 90%;
  width: 50%;
  z-index: 5;
  background-size: contain;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}



/* ------------ React Crousal  ---------------------- */
.slick-prev{
  left:-14px !important;
  color: #16A34A;
}
.slick-next{
  right:-14px !important;
  color: #16A34A;
}



